*{
	outline: none;
	a,
	button{
		&:focus{
			outline: none;
			text-decoration: none;
		}
	}
}

html {
	min-height: 100%;
}

body{
	font-family: $fontdefault;
	font-weight: 400;
	position: relative;
	min-height: 100%;
	background: theme-color('dark');
}

a,
button{
	cursor: pointer;
	color: inherit;
	transition: all 0.5s;
	&:focus,
	&:hover,
	&:active{
		color: inherit;
		text-decoration: none;
	}
}

img{
	height: auto;
	max-width: 100%;
	transition: all 0.5s;
}

p{
	font-size: 16px;
	line-height: 26px;
}

body {
	position: relative;
	min-height: 100%;
}
.wrapper {
	overflow: hidden;
}

.toggle-menu {
    position: absolute;
    top: 50%;
    display: none;
    margin-top: -12px;
    right: 30px;
    height: 25px;
    border: 0;
    outline: none;
    padding: 0;
    background: none;

    div{
		display: block;
		background: #fff;
    	border: 0;
   		padding: 0;
   		border-radius: 20px;
		width: 25px;
		height: 3px;
		margin-top: 10px;
		margin-bottom: 10px;
		position: relative;
		display: block;
		font-size: 0;
		transition: 0.3s ease-in-out;

		&:before,
		&:after {
			border-radius: inherit;
		    background: #fff;
		    content: '';
		    display: block;
		    width: 100%;
		    height: 100%;
		    position: absolute;
		    transition: 0.3s ease-in-out;
		}

	    &:before {
	        top: -7px;
	    }

	    &:after {
	        bottom: -7px;
	    }
    }

    &.active div {
        transform: rotate(45deg);
        background: #fff;

	    &:before {
	        transform: rotate(90deg);
	        top: 0;
	        background: #fff;
	    }

	    &:after {
	        transform: rotate(90deg);
	        bottom: 0;
	        background: #fff;
	    }
    }

	@include media-breakpoint-down(sm) {
		display: block;
    }
}

.main-nav {
	background: #221f1f;
	display: block;
	height: 80px;
	padding: 10px 30px;
	position: fixed;
	text-align: right;
	top: 0;
	width: 100%;
	z-index: 9;
	
	nav {
		a {
			color: #fff;
			display: inline-block;
			font-size: 15px;
			font-weight: 900;
			padding: 20px 0 20px 20px;
			text-transform: uppercase;
		}

		@include media-breakpoint-down(sm) {
			background: #221f1f;
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: center;
			left: -100%;
			position: fixed;
			top: 0;
			transition: all 0.2s ease-in-out;
			width: 100%;

			a {
				display: block;
				padding: 20px 15px;
				width: 100%;
				text-align: center;
			}
	    }
	}

	a.logo {
		display: block;
		height: auto;
		left: 30px;
		padding: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 96px;
		
		img {
			width: 100%;
		}
	}

	&.active {
		nav {
			left: 0;
		}
	}

	@include media-breakpoint-down(sm) {
		height: 45px;

		a.logo {
			width: 70px;
		}
	}
}

.main-tag {
	background-color: #fff;
	border: 0;
	color: color('red');
	display: inline-block;
	font-size: 16px;
	font-weight: 900;
	padding: 1px 7px;
}

.section {
	position: relative;
	overflow: hidden;
	min-height: 750px;
	height: calc(100vh - 80px);

	&--before {
		position: absolute;
		top: 0;
		left: 0%;
		height: auto;
		width: 32%;
		z-index: 1;
		polygon{
			fill: none;
		}
	}

	&--after {
		position: absolute;
		bottom: 0;
		left: 32%;
		height: auto;
		width: auto;
		z-index: 1;
		polygon{
			fill: none;
		}
	}

	.container {
		min-height: 800px;
		height: 100vh;
		position: relative;
		z-index: 4;
	}
}

.section-intro {
	background: theme-color('dark');
	display: block;
	height: 100vh;

	.section--before polygon{
		fill: #fff;
	}

	.section--after polygon{
		fill: theme-color('light');
	}

	&--content {
		left: 20%;
		margin-top: 80px;
		max-width: 550px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 50%;
		z-index: 4;

		h1 {
			font-size: 17px;
			font-weight: 300;
			color: #fff;
			text-transform: uppercase;
			margin-bottom: 20px;
			letter-spacing: 2px;

			img {
			 	margin: 20px 0 0 0;
			 	max-width: 300px;
			 	width: 100%;
			 	display: block;
			}

			strong {
				font-weight: 900;
			}
		}

		li,p {

			font-size: 15px;
			font-weight: 300;
			color: #fff;
			text-transform: uppercase;

			strong {
				font-weight: 900;
			}
		}

		p {
			line-height: 24px;
			margin-bottom: 35px;
		}

		ul {
			list-style: none;
			padding-left: 0;
			max-width: 300px;

			li {
				&:before {
					content: "•";
					float: left;
					font-size: 10px;
					margin-right: 7px;
					margin-top: 2px;
				}
			}
		}

		.main-tag {
			margin-bottom: 10px;
		}
	}

	&--bg {
		bottom: 0;
		display: block;
		height: auto;
		left: 31.5%;
		position: absolute;
		width: 68.5%;
		z-index: 3;
	}

	@include media-breakpoint-down(sm) {
		display: block;
		height: auto;
		padding-top: 0;
		padding-bottom: 50px;

		.section-intro--content {
			position: relative;
			top: auto;
			left: auto;
			padding: 15px 15px 60px;
			width: 100%;
			
			transform: none;

			h1 {
				text-align: center;
				br {
					display: none;
				}
			}

			p {
				margin-bottom: 20px;
			}
		}

		.section-intro--bg {
			right: 0;
		}
	}
}

.section-programacao {
	background: theme-color('light');
	display: block;

	.section--before polygon{
		fill: theme-color('dark');
	}

	.section--after polygon{
		fill: theme-color('dark');
	}

	&--heading {
		position: absolute;
		left: 30px;
		max-width: 500px;
		top: 20px;
		z-index: 3;

		h2,h3 {
			font-size: 55px;
			font-weight: 900;
			margin-bottom: 25px;
			color: #fff;
		}

		p {
			font-size: 12px;
			font-weight: 300;
			color: #fff;
			line-height: 16px;
			max-width: 200px;
			text-transform: uppercase;
		}
	}

	&--content {
		left: 25%;
		max-width: 570px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		margin: 0;
		z-index: 3;

		ul {
			padding: 0;

			li {
				list-style: none;
				color: #fff;
				max-width: 50%;
				float: left;
				padding-right: 80px;
				margin-bottom: 30px;

				dl {
					padding: 0;

					dt {
						margin-bottom: 5px;

						strong{
							color: #fff;
							display: block;
							font-size: 55px;
							font-weight: 900;
						}
					}

					dd {
						font-size: 13px;

						strong {
							font-size: 18px;
							display: block;
							font-weight: 900;
						}
					}
				}
			}

			&:after {
				clear: both;
				content: "";
				display: table;
			}
		}
	}

	&--bg {
		bottom: 60px;
		max-width: 25%;
		position: absolute;
		right: 30px;
		z-index: 3;
	}

	@include media-breakpoint-down(sm) {
		height: auto;
		padding-bottom: 100px;

		.section-programacao--heading {
			position: relative;
			left: auto;
			max-width: 100%;
			top: auto;
			padding: 20px 20px 0;
			z-index: 3;

			h2,h3 {
				font-size: 35px;
				margin-bottom: 10px;
			}
		}

		.section-programacao--content {
			left: auto;
			max-width: 100%;
			position: relative;
			top: auto;
			padding: 0;
			transform: none;
			margin: 0;

			ul {
				padding: 0 10px;
				li {
					padding: 0 10px 0;
					margin: 0;
					width: 50%;

					dl {
						dt {
							strong {
								font-size: 32px;
							}
						}
					}
				}
			}
		}

		.section-programacao--bg {
			position: absolute;
			bottom: 20px;
			right: 30px;
			z-index: 3;
			max-width: 30%;
		}
	}
}

.section-local {
	overflow: initial;
	height: auto;

	.section--before polygon{
		fill: theme-color('light');
	}

	&--original {
		left: 30px;
		top: 30px;
		position: absolute;
		z-index: 3;
		max-width: 35%;
	}

	&--address {
		left: 45%;
		top: 10%;
		position: absolute;
		text-align: center;
		font-size: 18px;
		font-weight: 900;
		z-index: 3;
		color: #fff;
		line-height: 25px;

		strong {
			border: 1px solid #fff;
			display: block;
			font-size: 40px;
			font-style: italic;
			margin: 0 0 10px;
			color: inherit;
			padding: 7px 15px;
			line-height: 40px;
		}
	}

	&--social {
		bottom: 15%;
		left: 130px;
		position: absolute;
		text-align: center;

		a {
			color: #fff;
			display: block;
			margin-top: 10px;
			font-size: 14px;
		}

		ul {
			display: block;
			list-style: none;
			padding-left: 0;
			padding-bottom: 10px;

			li {
				display: inline-block;
			}
		}
	}

	&--maps {
		bottom: 0;
		display: block;
		height: auto;
		left: 31.5%;
		position: absolute;
		width: 68.5%;
		z-index: 2;
	}

	@include media-breakpoint-down(sm) {
		min-height: 0;
		overflow: hidden;
		padding-top: 20px;

		.section-local--original {
			display: block;
			left: 30px;
			top: auto;
			width: 50%;
			bottom: 150px;
		}

		.section-local--address {
			left: auto;
			position: relative;
			top: auto;
			width: auto;
			padding: 0;
			margin: 0 0 30px;

		    strong {
		    	font-size: 25px;
		    }
		}

		.section-local--social {
			bottom: auto;
			left: auto;
			position: relative;
			width: 100%;
			margin: 0 auto 290px;
		}

		.section-local--maps {
			left: 0;
			position: absolute;
			width: 100%;
		}
	}
}