$red: #98242a;

$body-bg: $red;
$body-color: #111;

$theme-colors: (
  "dark": #98242a,
  "light": #b92025
);

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800
) !default;

$fontdefault: 'Lato', sans-serif;